@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Ubuntu&display=swap");
:root {
  --ubuntuFont: "Ubuntu";
  --montserratFont: "Montserrat";
  --titleColor: #333333;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--montserratFont);
  font-weight: 400;
}
/* Container */
.container {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 2;
}
/* Presentation */
.presentation {
  display: flex;
  position: relative;
  align-items: center;
  background-image: url(../img/bg_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.presentation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(126, 87, 194, 0.5);
  z-index: 1;
}
/* Image */
.main_img {
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.main_img img {
  max-width: 100%;
}
/* Title */
.suptitle {
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 23px;
  font-family: var(--ubuntuFont);
  color: var(--titleColor);
  font-size: 24px;
  text-align: center;
}
.title {
  flex-direction: column;
  margin: 18px 0 35px;
  position: relative;
  color: var(--titleColor);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
/* Social */
.social {
  flex-direction: column;
  align-self: flex-end;
}
.social_item {
  padding: 8px 16px;
  margin-left: 2px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.social_item:hover {
  background-color: var(--titleColor);
}

@media screen and (max-width: 879px) {
  .main_img {
    width: 150px;
    height: 150px;
  }
  .suptitle {
    font-size: 18px;
  }
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 519px) {
  .suptitle {
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
}
